[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "robumeta"]
	path = robumeta
	url = https://github.com/zackfisher/robumeta
	shallow = true
	registered = true
